* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Do Hyeon', sans-serif;
}

/* Variables */
:root {
    --color-principal-oscuro: #616161;
    --color-principal-claro: #F5F5F5;
    --color-principal: #9E9E9E;
    --color-texto: #212121;
    --color-texto-enfasis: #FF5252;
    --color-texto-secundario: #757575;
    --color-division: #BDBDBD;
    --fuente: 'Do Hyeon', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
}
/* Definicion de las animaciones */
@keyframes slidy {
     0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -300%; }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos Encabezado */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-principal);
}

li, a {
    text-decoration: none;
    list-style: none;
}

header img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.nav {
    display: flex;
    flex-grow: 1;
}

.nav__lista {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.nav__lista li {
    margin: 20px 40px;
    font-size: 2.2rem;
    border-bottom: 2px solid transparent;
    text-transform: uppercase; 
}

.nav__lista li:first-child {
    border-bottom: solid;
    border-color: var(--color-texto-enfasis); 
}

.nav__lista li:hover {
    border-bottom: solid;
    border-color: var(--color-texto-enfasis);
}

.nav__lista li a {
    color: var(--color-texto);
}

.perfil {
    display: block;
}

.perfil__imagen {
    margin-right: 15px;
}

.perfil__lista-desplegable {
    display: none;
    position: absolute;
    right: 0;
    text-align: right;
    background-color: var(--color-principal);
    font-size: 1.3rem;
    padding: 10px 20px;
}

.perfil:hover .perfil__lista-desplegable {
    display: block;
    animation: fadeInDown 0.5s both;
}

.perfil__lista-desplegable li:hover  a{
    text-decoration: underline var(--color-texto-enfasis);
}

.perfil__lista-desplegable li a{
    color: var(--color-texto);
}

/* Estilos Seccion 1 */

.section-one {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 50px 25px 250px 25px 100px 10px;
    align-items: center;
    justify-items: center;
    background-color: var(--color-principal-oscuro);
}

    /* Estilos Carrusel */
.carrusel {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 250px;
    display: flex;
    overflow: hidden;
    box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    position: relative;
}
        /* Contenedor para animacion de carrusel */
.carrusel__container {
    width: 100%;
    height: 250px;
    -webkit-animation: 30s slidy infinite;
    animation: 30s slidy infinite;
    position: relative;
    display: flex;
}

.playpause {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 5px;
    bottom: 0;
    right: 0;
    background-image: url(./pics/pause_circle_white_24dp_d2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.carrusel .carrusel__item1, .carrusel__item2, .carrusel__item3, .carrusel__item4 {
    min-width: 100%;
    height: 100%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carrusel__item1 {
    background-image: url(./pics/Juegos/the-witcher.jpg);
}

.carrusel__item2 {
    background-image: url(./pics/Juegos/skyrim.jpg);
}

.carrusel__item3{
    background-image: url(./pics/Juegos/fifa21.png);
}

.carrusel__item4 {
    background-image: url(./pics/Juegos/GTA5.jpg);
}

    /* Contenedor de iconos */
.icon-container {
    width: 100%;
    height: 25px;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrusel__icon {
    width: 10px;
    height: 10px;
    margin: 5px 3px;
    background-image: url(./pics/circle_black_24dp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

    /* Barra de busqueda */
.search-container {
    width: 50%;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    background-color: var(--color-division);
    border: 2px solid var(--color-texto-enfasis);
    border-radius: 10px;
    opacity: 0.5;
    box-shadow: 0px 1px 8px 4px rgba(62,62,62,0.75);
}
.section-one__barra-busqueda {
    width: 90%;
    padding: 2px;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--fuente);
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

    /* Juegos Populares */
.popular-container {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: var(--color-principal);
    border-radius: 25px;
}

.popular-container h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
}

.game-rating-container {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 1fr 1fr 1fr 10px;
}

.game-image {
    width: 80%;
    justify-self: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.game1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-image: url(./pics/Juegos/crash-bandicoot.jpg);
    box-shadow: -7px 6px 5px -1px rgba(62,62,62,0.75);
}
.game2 {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    background-image: url(./pics/Juegos/minecraft.jpg);
    box-shadow: 7px 6px 5px -1px rgba(62,62,62,0.75);
}
.game3 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-image: url(./pics/Juegos/cod-warzone.jpg);
    box-shadow: -7px 6px 5px -1px rgba(62,62,62,0.75);
}

.card--crash {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
}
.card--minecraft {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: right;
}
.card--warzone {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
}

.rating-card {
    align-self: center;
}
.rating-card a {
    font-size: 1.6rem;
    color: var(--color-texto);
    text-decoration: none;
}
.star{
    color: gold;
}
.half-star--rotate {
    transform: scaleX(-1);
}
.xgame {
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
}
.xgame img {
    width: 2.2rem;
    height: 2.2rem;
}

    /* LANZAMIENTOS */
.releases-container {
    grid-column: 3 / 4;
    grid-row: 2 / 6;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-principal);
    border-radius: 25px;
}
.realeses__button-container {
    width: 100%;
    height: 12%;
    display: flex;
}
.releases__button {
    width: 50%;
    height: 100%;
    font-family: var(--fuente);
    font-size: 1.6rem;
    word-wrap: normal;
    background-color: var(--color-division);
    cursor: pointer;
}
.button-new {
    border-radius: 25px 25px 0 0;
    border-top: 2px solid var(--color-texto-enfasis);
    border-right: 2px solid var(--color-texto-enfasis);
    border-left: 2px solid var(--color-texto-enfasis);
    border-bottom: none;
}

.button-soon {
    border-radius: 25px 25px 0 0;
    opacity: 0.5;
    border-top: 2px solid var(--color-texto-secundario);
    border-right: 2px solid var(--color-texto-secundario);
    border-left: 2px solid var(--color-texto-secundario);
    border-bottom: none;
}
.new-games-container {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-texto-enfasis);
    border-radius: 0 0 25px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    justify-items: center;
    align-items: center;  
}
.new-games__game-target {
    width: 90%;
    height: 90%;
    background-color: #FF4D4D;
    border-radius: 25px;
    text-align: center;
}
.new-games__game-target figure {
    height: 65%;
    overflow: hidden;
}
.new-games__game-target figure img {
    max-width: 100%;
    border-radius: 25px 25px 0 0;
}
.new-games__game-target h3 {
    font-size: 1.6rem;
}
.new-games__game-target p {
    font-size: 1.2rem;
}

.coming-soon-container {
    width: 100%;
    height: 88%;
    position: absolute;
    bottom: 0;
    display: none;
    border: 2px solid var(--color-texto-enfasis);
    border-radius: 0 0 25px 25px;
}
/* Estilos del pie de pagina */
footer {
    width: 100%;
    display: inline-flex;
    position: absolute;
    background-color: var(--color-principal);
    bottom: 0;
    justify-content: space-between;
    font-size: 1.6rem;
    color: var(--color-texto);
}

footer div {
    margin: 5px;
}

.nosotros a {
    color: var(--color-texto);
}

.nosotros:hover a {
    text-decoration: underline var(--color-texto-enfasis);
}

.redes-sociales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.redes-sociales i {
    margin: 0 5px;
    cursor: pointer;
}

.redes-sociales i:hover {
    color: var(--color-texto-enfasis);
}